body {
  background-color: #eee;
  font-family: "Montserrat", "Avenir";
}

.switch {
  position: absolute;
  left: 68%;
  top: 3%;
  border: none;
  background-color: orange;
  border-radius: 1em;
  padding: 1em 2em;
  color: white;
  outline: none;
}

.switch:active {
  background-color: darkorange;
}

.card {
  margin: 0 auto;
  width: 30vw;
  background-color: #fff;
  height: 100%;
}

.icon {
  width: 100%;
  height: 20vh;
  padding-bottom: 25vh;
  padding-top: 4vh;
  text-align: center;
  font-size:4rem;
  color: #05c905;
}

.info {
  text-align: center;
}

.heading {
  font-size: 3vw;
  color: #05c905;

}

.action {
  border: none;
  background-color: #05c905;
  border-radius: 1em;
  padding: 1em 4em;
  color: white;
  outline: none;
  margin-top: 8vh;
  font-size: 1em;
}

@media (max-width:1000px) {
  .card {width: 40vw}

  .icon {height: 25vh}

  .heading {font-size: 4vw}

  .switch {left: 74%}

  .icon{font-size: 4rem}
}
@media (max-width:700px) {
  .card {width: 60vw}

  .heading {font-size: 6vw}

  .switch {left: 84%}

  .icon{font-size: 3.5rem}

}
@media (max-width:400px) {
  .card {width: 95vw}

  .icon {height: 25vh}

  .heading {font-size: 10vw}

  .switch {left: 72%; padding: 1em 1.2em;}

  .icon{font-size: 3.8rem;}
}
#checkscirc {
  text-align: center;
}